/*
1. Global
2. Header
3. Navigation
4. Main
5. Section
6. Footer
7. Media Queries
*/

/* --------------------------------
1. Global
-------------------------------- */

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
h1 {
  font-size: 3rem;
  line-height: 1em;
  font-weight: 700;
  margin-bottom: 32px;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 16px;
  padding-top: 32px;
}
h3 {
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 700;
    padding-bottom: 8px;
}
h4 {
    padding-bottom: 8px;
    text-transform: uppercase;
}
p {
  line-height: 1.5rem;
  padding-bottom: 8px;
}
a {

}
.btn {
  background-color: darkgray;
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 16px;
}
.primary-link {
  text-decoration: none;
  color: skyblue;
}


/* --------------------------------
2. Header
-------------------------------- */

header {
  background-color: #fff;
  position: fixed;
  z-index: 1;
  height: 64px;
  width: 100%;
  top: 0;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 24px;
}
header img {
  height: 50px;
}
header span {
  margin-left: 8px;
  font-size: 22px;
  text-transform: uppercase;
}

/* --------------------------------
3. Navigation
-------------------------------- */
nav {
  display: flex;
  width: 100%;
}
nav ul {
  margin-right: 24px;
}
nav ul li {
  display: inline-block;
  padding: 24px 16px;
  font-size: 16px;
  font-weight: normal;
}
.nav-icons {
  width: 100%;
}
.nav-icons ul {
  display: none;
  justify-content: space-around;
  padding-top: 16px;
}
.nav-icons li {

}

/* --------------------------------
4. Banner
-------------------------------- */

main {

}
#banner {
  background-color: lightgrey;
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
}
#banner img {
  max-width: 100%;
}
#banner h3 {
  padding-bottom: 48px;
}
.banner-image {
  flex-grow: 2;
  flex-basis: 50%;
  padding: 32px 24px;
}
.banner-content {
  display: flex;
  flex-grow: 1;
  flex-basis: 35%;
  align-items: center;
}
.banner-block {
  padding: 24px;
}

/* --------------------------------
5. On Campus
-------------------------------- */
#oncampus {
  display: flex;
  flex-wrap: wrap;
}
#oncampus img {
  width: 100%;
}
.feature-image {
  flex-grow: 2;
  flex-basis: 50%;
  padding: 32px 24px;
}
.feature-content {
  flex-grow: 1;
  flex-basis: 35%;
  border-left: 1px solid gray;
}
.feature-content .block {
  display: flex;
  padding: 24px;
}
#oncampus .block:last-child {
  background-color: gray;
}
#oncampus .block:first-child {
  border-bottom: 1px solid gray;
}
.block .image {
  flex-grow: 1;
  flex-basis: 30%;
}
.block .content {
  flex-grow: 1;
  flex-basis: 65%;
  margin-left: 16px;
}

/* --------------------------------
5. Online
-------------------------------- */
#online {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 72px 32px 72px;
  background-color: lightgray;
}
#online h2 {
  flex-grow: 3;
  flex-basis: 100%;
  text-align: center;
}
#online .block {
  flex-grow: 1;
  flex-basis: 30%;
  background-color: white;
  margin: 16px;
}
.block img {
  width: 100%;
}
.block-content {
  padding: 16px;
}

/* --------------------------------
6. Companies
-------------------------------- */

#for-companies {
  display: flex;
  flex-wrap: wrap;
}
#for-companies img {
  width: 100%;
}
#for-companies .block:first-child {
  background-color: gray;
}
#for-companies h2 {
  flex-grow: 3;
  flex-basis: 100%;
  text-align: center;
}
video {
  width: 100%;
  margin:
}

/* --------------------------------
6. Footer
-------------------------------- */

footer {

}

/* --------------------------------
7. Media Queries
-------------------------------- */

/* Mobile */
@media only screen and (max-width: 640px) {
  #online {
    padding: 32px 0px;
  }
  .block {
    flex-basis: 100%;
    margin: 8px 16px;
    background-color: grey;
  }
  .block img {
    display: none;
  }
  .block p, h4 {
    display: none;
  }
  h3 {
      padding-bottom: 0px;
  }
}

/* Mobile Lanscape */
@media only screen and (max-width: 768px) {
  header img {
    height: 36px;
  }
  nav {
    display: none;
  }
  .nav-icons ul {
    display: flex;
  }
  .block {
    flex-grow: 1;
    flex-basis: 45%;
  }
}

/* Tablet */
@media only screen and (max-width: 1024px) {

}

/* Desktop HD */
@media only screen and (min-width: 1200px) {

}
